body {
    width: 500px;
    margin: 0 auto;
    
    border: 2px solid rgb(255, 84, 104);
    padding: 100px;
    margin: 10px;
    border-radius: 5px;
    
    position: sticky;
    top: 500px;
    left: 500px;
    text-align: center;
  }
  
h1 {
    text-align: center;
    font-weight: bold;
  }
  
h2 {
    text-align: center;
    text-decoration: underline;
  }
  