body {
    background-image:url('images/feuilles.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.pingouin {
    background-image: url('images/pingouin.png');
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: blueviolet;
    font-weight: bold;
}

h2 {
    color: white;
    font-weight: bold;
}

.gainsbourg {
    color: white;
}